<!-- Footer -->
    <footer>
        <div class="container m-t-40">
           <!--<ul class="list-inline">
                <li class="list-inline-item">
                    <%= link_to 'Home', root_path %>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <%= link_to 'About', root_path %>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <%= link_to 'Contact', root_path %>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <%= link_to 'Terms', root_path %>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                    <%= link_to 'Privacy', root_path %>
                </li>
            </ul> -->
            <p class="copyright text-muted small text-center">Copyright &copy; 2017 <a href="#">Infostack</a>. All Rights Reserved | Made    with <i class="fa fa-heart" aria-hidden="true"></i> in 
                <a href="https://en.wikipedia.org/wiki/West_Africa" target="_blank">West Africa</a>.
            </p>
        </div>
    </footer>