<div class="jumbotron jumbotron-fluid back_img img-fluid">
  <div class="container">
    <h1 class="h1-responsive text-white">Get your stack out there...</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="m-b-50">Top Stacks</h> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">                                  
      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th>Post Title</th>
            <th>Creator</th>
            <th>Comments</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Valley View no de be kra</td>
            <td> <%= image_tag 'pf.svg', size: 5 * 5 %> Abodier</td>
            <td>14k</td>
            <td>20 sec ago</td>
          </tr>
          <tr>
            <td>
              Valley View no de be kra
            </td>
            <td> <%= image_tag 'pf.svg', size: 5 * 5 %> Abodier</td>
            <td>14k</td>
            <td>20 sec ago</td>
          </tr>
          <tr>
            <td>
              Valley View no de be kra
            </td>
            <td> <%= image_tag 'pf.svg', size: 5 * 5 %> Abodier</td>
            <td>14k</td>
            <td>20 sec ago</td>
          </tr>
          <tr>
            <td>
              <strong>Valley View no de be kra</strong>
            </td>
            <td> <%= image_tag 'pf.svg', size: 5 * 5 %> Abodier</td>
            <td>14k</td>
            <td>20 sec ago</td>
          </tr>
          <tr>
            <td>
              Valley View no de be kra
            </td>
            <td> <%= image_tag 'pf.svg', size: 5 * 5 %> Abodier</td>
            <td>14k</td>
            <td>20 sec ago</td>
          </tr>
          <tr>
            <td>
              Valley View no de be kra
            </td>
            <td> <%= image_tag 'pf.svg', size: 5 * 5 %> Abodier</td>
            <td>14k</td>
            <td>20 sec ago</td>
          </tr>
          <tr>
            <td>
              Valley View no de be kra
            </td>
            <td> <%= image_tag 'pf.svg', size: 5 * 5 %> Abodier</td>
            <td>14k</td>
            <td>20 sec ago</td>
          </tr>
          <tr>
            <td>
              Valley View no de be kra
            </td>
            <td> <%= image_tag 'pf.svg', size: 5 * 5 %> Abodier</td>
            <td>14k</td>
            <td>20 sec ago</td>
          </tr>
          <tr>
            <td>
              Valley View no de be kra
            </td>
            <td> <%= image_tag 'pf.svg', size: 5 * 5 %> Abodier</td>
            <td>14k</td>
            <td>20 sec ago</td>
          </tr>
          <tr>
            <td>
              Valley View no de be kra
            </td>
            <td> <%= image_tag 'pf.svg', size: 5 * 5 %> Abodier</td>
            <td>14k</td>
            <td>20 sec ago</td>
          </tr>
        </tbody>
      </table>      
    </div>
    <div class="col-md-4">
    
    </div>
  </div>
</div>